/* Custom CSS */

.slider-image{
    filter: brightness(40%);
}
.width{
    padding-bottom: 10rem;
}
.container h5 p{
    font-size: 100px;
}
.carousel-images{
    filter: brightness(60%);
    height: 650px;
    max-height: 100vh;
}
.card-items{
    height: 300px;
}
.font{
    font-size: 4rem;
}
.cards{
    min-width: 680px;
    max-height: 200px;
}
.register{
    margin-top: 10rem;
    height: 19rem;
    width: 83rem;
}

/* Custom CSS end */